HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## Jte
jte-classes/

## Generated bundles
src/main/resources/static/js/codemirror-bundle.js
src/main/resources/static/js/alpine.min.js
src/main/resources/static/js/htmx.min.js
src/main/resources/static/js/htmx-json-enc.js
src/main/resources/static/js/mermaid.min.js
src/main/resources/static/js/prism-bundle.js
src/main/resources/static/css/font-awesome.min.css
src/main/resources/static/css/prism-tomorrow.min.css
src/main/resources/static/webfonts/
src/main/js/node_modules/
src/main/js/package-lock.json